.gears-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  pointer-events: none;
}

.gear {
  position: absolute;
  transition: transform 0.5s ease;
  pointer-events: none;
}

.gear1 {
  width: 100px;
  top: 20%;
  left: 65.5%;
}

.gear2 {
  width: 150px;
  top: 17%;
  left: 70%;
}

.gear3 {
  width: 120px;
  top: 5.4%;
  left: 70.7%;
}
